// Configuration file for sc-rna-10x pipeline 

params {

       /* 
       	  =====================
          SET THE FOLLOWING 2 (OR 3) VARIABLES MANUALLY 
          =====================
       */

       	// Project ID (2021_XXX) or Run ID (date: e.g. YYMMDD-sc-adt-rna-10x) 
	metaid = "project_2021_05"
	// Sample Sheet (Must be in the specified runfolder!)
	ssheet = "samplesheet.csv"
	// Folder of experiment raw data
	runfolder = "210524_A00681_0370_AH27CYDRXY"

	// Base dir with nf-script, .config, metadata (samplesheet and feature ref) input
	basedir = "/path/to/project/folder/"
	experiment = "/path/to/${runfolder}"
	
	// demux - set to 'n' if fastq already generated (they should then be in FQDIR)
	demux = 'y'
	// bcl2fastq arguments - e.g. "--use-bases-mask=Y28n*,I6n*,N10,Y90n*"
	bcl2fastqarg_rna = "" 
	bcl2fastqarg_adt = "" 
	// Index type ('dual' or 'single')
	index_rna = "dual"
	index_adt = "single"	// Custom Genome - if not Human/Mouse standard ref
	
	// if using other genome reference than hg38 or mm10
	custom_genome = "/path/to/custom_genome/hg38_genome_coRPS19"

	// Feature reference file with antibody declaration
	features = "metadata/feature.ref.csv" 

	/*
	   =================
	   AUTOMATIC PARAMS 
	   =================
	*/

	// outdir: 
	outdir = "${basedir}/output/"
	ctgqc = "${basedir}/qc/"
	sheet = "${basedir}/${ssheet}"
	fqdir = "${outdir}fastq/"
	qcdir = "${outdir}qc/"
	countdir = "${outdir}count/"
	aggdir = "${outdir}aggregate/"
	metadir = "${basedir}/metadata"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/shared/ctg-containers/sc-rna-10x/sc-rna-10x.v6/sc-rna-10x.v6.sif'
	time='5h'
	cpus='8'

	withName:mkfastq_rna {
		time='24h'
		cpus='16'
		memory='110 GB'
	}
	withName:mkfastq_adt {
		time='24h'
		cpus='16'
		memory='110 GB'
	}
	withName:count {
		time='2d'
		cpus='20'
		memory='120 GB'
	}
	withName:aggregate {
		time='2d'
		cpus='16'
		memory='120 GB'	
	}
	withName:fastqc {
		time='4h'
		cpus='16'
		memory='120GB'
	}
	withName:md5sum {
		time='5h'
		cpus='1'
		memory='120GB'
	}
}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
